/* text & colors */

html, body
{
    margin: 0;
    padding: 0;
}

#header{
    border-bottom-width:3px;
    border-bottom-style:solid;
}

#main{
    border:0;
    padding: 20px;
    min-height:40em;
    _height:40em;
}

hr {
    border:1px solid #CCCCCC;
    height: 0;
}

#theme-header, #theme-footer {
    text-align:center;
}


/* Sidebar navigation styles */
#splitter-sidebar ul{
    padding:0;
    margin:0;
    list-style:none;
}

#splitter-sidebar li{
    padding:5px 0;
    border-bottom:1px solid #CCC;
}


#splitter-sidebar h1, #splitter-sidebar h2, #splitter-sidebar h3{
    padding: 0;
    margin: 0;
    margin-top:10px;
    border-bottom:2px solid #CCC;
    white-space:nowrap;
    width:auto;
    line-height:1.5em;
}

#splitter-sidebar li a,
#splitter-sidebar p,
#splitter-sidebar h1,
#splitter-sidebar h2,
#splitter-sidebar h3{
    padding-left:10px;
}

#splitter-sidebar h1{
    font-size:1.2em;
}

#splitter-sidebar h2{
    font-size:1.1em;
}

#splitter-sidebar h2{
    font-size:1em;
}

#splitter-sidebar a{
    font-size:.9em;
    color:#333;
    text-decoration:none;
}

#splitter-sidebar a:hover{
    color:#000;
    text-decoration:underline;
}


#splitter {
   /* Height is set to match window size in $().ready() below */
    min-width:  600px;
    min-height: 300px;
}

#splitter-sidebar{
    background-image: url(sidebar-shadow.png);
    background-repeat: repeat-y;
    background-position: right top;
    background-color: #F0F0F0;
}

#splitter #splitter-content{
    background-color: #FFF;
}
#splitter #splitter-content,
#splitter #splitter-sidebar
{
    overflow: auto;
}
.vsplitbar {
    width: 5px;
    background: #CCC;
    background-image: url(vgrabber.gif);
    background-repeat: no-repeat;
    background-position: center;
}

/* @group Pagetree Styles */

#splitter-button{
    background: url(tree.png) no-repeat 4px 50%;
    width:30px;
    height: 2em;
    cursor:pointer;
    margin-left: 5px;
}

#splitter-button.collapsed{
    /*background: #ccc url(../../../../../../../../images/icons/sidebar/collapse.gif) no-repeat 4px 50%;*/
    background: url(tree-off.png) no-repeat 4px 50%;
}

#splitter-sidebar .plugin_pagetree {
    margin-left: -10px;
}

#splitter-sidebar .plugin_pagetree #pagetreesearch {
    margin: 10px 0 10px 20px;
    min-width: 230px;
}


#splitter-sidebar .plugin_pagetree img{
    width: 9px;
    height: 9px;
}

#splitter-sidebar .plugin_pagetree span img{
    display:none;
}


#splitter-sidebar .plugin_pagetree ul{
    padding-left:10px!important;
    margin-left:0!important;
}

#splitter-sidebar .plugin_pagetree li {
    text-decoration: none;
    margin: 0;
    padding: 2px 0;
    border-bottom: none;
}

#splitter-sidebar .plugin_pagetree li a,
#splitter-sidebar .plugin_pagetree ul{
    color: #4C4C4C;
    font-size: 9pt;
    text-decoration: none;
    padding-left: 0;
}

#splitter-sidebar .plugin_pagetree li a:hover{
    text-decoration:underline;
}

#pagetreesearch input{
    background-color: #FFF;
    border:1px solid #CCCCCC;
    color:#666666;
}
/* @end */




/* @group Heading Styles */
h1, h2, h3, h4, h5, h6, .wiki-content h1, .wiki-content h2, .wiki-content h3, .wiki-content h4, .wiki-content h5, .wiki-content h6, .pagetitle, #title-text, #title-text a, .steptitle, .substeptitle, .formtitle, a.blogHeading, .more-comments a, .label, label, th.confluenceTh, table.confluenceTable th.confluenceTh, table.admin th, .form-element-large, .form-element-small, #com-atlassian-confluence .mce_h1 span.mceText, #com-atlassian-confluence .mce_h2 span.mceText, #com-atlassian-confluence .mce_h3 span.mceText, #com-atlassian-confluence .mce_h4 span.mceText, #com-atlassian-confluence .mce_h5 span.mceText, #com-atlassian-confluence .mce_h6 span.mceText { color: #000;}

#com-atlassian-confluence h1 {
    margin:10px 0 0.3em;
    line-height: 1em;

}

#com-atlassian-confluence h1 img{
    float:none;
    margin:0;
    vertical-align:text-bottom;
}

#com-atlassian-confluence .wiki-content h1 { margin-top: 2em; margin-bottom: .5em; font-size: 1.7em; color: #000; border-bottom: 1px solid #919699;}
.wiki-content h2 { margin-top: 2em; margin-bottom: .5em; font-size: 1.6em; color: #000; padding-bottom: 2px; border-bottom: 1px solid #919699;}
.wiki-content h3 { margin-top: 1.5em; margin-bottom: .5em; font-size: 1.5em; color: #000; }
.wiki-content h4 { margin-top: 1.2em; margin-bottom: .3em; font-size: 1.3em; color: #000;}
.wiki-content h5 { margin-top: 1em; margin-bottom: .1em; font-size: 1.2em; color: #000;}
.wiki-content h6 { margin-top: 1em; margin-bottom: .1em; font-size: 1.1em; color: #000;}

.panel h2 { margin-top: 10px; margin-bottom: 1em; font-size: 1.5em; color: #000; padding-bottom: 2px; border-bottom: 1px solid #919699;}
.panel h3 { margin-top: 10px; margin-bottom: .5em; font-size: 1.2em; color: #333; }

.panelMacro h2 { margin-top: 0; margin-bottom: 1em; font-size: 1.5em; color: #000; padding-bottom: 2px; border-bottom: 1px solid #919699;}
.panelMacro h3 { margin-top: 0em; margin-bottom: .5em; font-size: 1.2em; color: #333; }



a:link, a:visited, a:active {
    text-decoration:none;
}

a:hover{
    text-decoration:underline;
}

.page-metadata a:link, .page-metadata a:active, .page-metadata a:hover, .page-metadata a:visited {
    color: #666;
    text-decoration:none;
}

.page-metadata {
    color:#999;
    margin-top:-.5em;
}

body, p, td, table, tr, .bodytext, .stepfield, .wiki-content p, .panelContent{
    color: #333;
    background:none;
}

/* @end */


/* @group Tab Styles */
.tab-navigation .tab a {
 font-weight: normal;
 color: #999999;
 background-color: transparent;
 border: none;
}

.tab-navigation .tab a:hover {
 font-weight: normal;
 color:#000;
 background-color: transparent;
 border: none;
}

#tab-navigation{
 border-bottom-color:#CCC;
 margin: 1em 0 2em -10px;
 background-color: transparent;
}

ul.tab-navigation .current a:hover, ul.tab-navigation .current a {
 background-color: transparent;
 border:none;
 color:#000000;
}
/* @end */


/* @group Page Bottom and Panel Styles */

.section-header a:link, .section-header a:active, .section-header a:hover, .section-header a:visited {
    /* this is not a valid value, but will set it back to the parent color*/
    color:default;
}


#default-labels-header{
    float:left;
    padding-right: 5px;
}


#labels-section{
    border-top:1px dashed #CCCCCC;
    margin:40px -20px 10px;
    padding:20px;
}


#labels-section-title{
    display: none;
}


#labelsList a.label{
    background-color: #f0f0f0;
    border-bottom:1px solid #CCC;
    color:#666;
    text-decoration: none;
    padding: 2px 5px;
}

#labelsList a.label:hover{
    color:#000;
}



.panelMacro, .panel{
    margin: 0 0 10px 0;

}

.panelMacro table{
    padding:10px;
}



#content .infoMacro, #content .tipMacro, #content .warningMacro, #content .noteMacro, #content .panel {
    -moz-border-radius: 5px; /* Firefox */
    -webkit-border-radius: 5px; /* Safari */
    border-radius: 5px; /* CSS3 (Opera?) */
}

#splitter-sidebar .panel{
    border:0;
    background:none;
}

#splitter-sidebar .panel .panelContent {
    padding:0 10px;
    background: none;
    margin-top:0;
}

.panel{
    background-color: #F0F0F0;
    border-color: #BBB;
    -moz-border-radius: 5px; /* Firefox */
    -webkit-border-radius: 5px; /* Safari */
    border-radius: 5px; /* CSS3 (Opera?) */
}

.panel .panelHeader {
    border-bottom-color:#F0F0F0;
    color: #333;
    text-align: left;
    line-height: 1em;
    padding:10px 10px 5px;
    margin-bottom:0;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-top-left-radius: 5px; 
}

.panel .panelContent{
    padding: 0 10px;
}

.panelMacro td, .panelMacro p {
    padding:0;
}

.infoMacro{
    background-color: #E0EFFF;
    border-color: #9EB6D4;
}
.tipMacro{
    background-color: #DDFADE;
    border-color: #9EC49F;
}
.warningMacro{
    background-color: #FFE7E7;
    border-color: #DF9898;
}
.noteMacro{
    background-color: #FFFFDD;
    border-color: #F7DF92;
}

.preformatted{
    background-color: #FFF;
}


#content .infoMacro, #content .tipMacro, #content .warningMacro, #content .noteMacro, #content .panel{
    border-width: 1px;
    border-style: solid;
}

#content .code{
    border-style:dashed;
    background-color: #FFF;
}


#theme-header .panelMacro{
    margin-bottom:0;
}

#theme-header .panelMacro td,
#theme-header .panelMacro p {
    padding:5px 0;
}

#theme-header .infoMacro,
#theme-header .tipMacro,
#theme-header .warningMacro,
#theme-header .noteMacro,
#theme-header .panel{
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

#theme-footer .infoMacro,
#theme-footer .tipMacro,
#theme-footer .warningMacro,
#theme-footer .noteMacro,
#theme-footer .panel{
    border-top-width: 1px;
    border-top-style: solid;
}

#theme-footer .panelMacro{
    margin:0;
}

#theme-footer p{
    margin-top:0;
}

#footer #poweredby{
    background-image: none;
    border-top:1px solid #CCC;
}

#personal-info-sidebar {
    margin-right: -20px;
}

.sectionMacro td.confluenceTd{
    padding-right:20px;
}


/* Don't give tables a border in the panel macro */
.panel .confluenceTable{
    margin: 0;
}

.panel table.confluenceTable th.confluenceTh, .panel table.confluenceTable td.confluenceTd {
    border: 0;
}

/* @end */


/* Group RSS Macro Styles*/
div.rssMacro{
    margin-bottom:20px;
    border:1px solid #CCC;
    -moz-border-radius: 5px; /* Firefox */
    -webkit-border-radius: 5px; /* Safari */
    border-radius: 5px; /* CSS3 (Opera?) */
}

div.rssMacro table{
    margin: 0;
}
div.rssMacro table th a{
    color: #000;
}

div.rssMacro table th, .rssMacro table td {
    border:0;
}

div.rssMacro b{
    font-weight: normal;
}



@media print{

    html, body, #main, #splitter {
        overflow: visible!important;
        height: 100%!important;
    }

    #theme-header, #theme-footer, #splitter-sidebar, .page-metadata, .vsplitbar, #labels-section, #children-section{
        display:none;
    }

    #splitter #splitter-content{
        left:0!important;
        overflow: visible!important;
        width:800px!important;
        height: 100%!important;
    }

    .panel, panelMacro{
        page-break-inside: avoid;
    }

    body, p, td, table, tr, .bodytext, .stepfield, .wiki-content p, .panelContent, .wiki-content a{
        color: #000;
    }

    #comments-section{
        page-break-before: always;
    }

    #footer{
        display:none;
        /*font-size: 11px;*/
        /*fixed: absolute; bottom: 0; left: 0; width: 100%; height: 2em;*/
    }
}


